div
        {
            background-color: #364f6b;
            color: #f5f5f5;
            width: 400px;
            margin: auto;
            text-align: center;

        }

        p
        {
            color: crimson;
        }

        h2
        {
            color: chartreuse;
            font-style: italic;
        }  